.name {
	width: 30%;
}

.links {
	width: 70%;
}
.links p {
	text-align: right;
}
.name, .links {
	float: left;
	padding-top: 20px;
	padding-bottom: 20px;
}

body {
	background-image: url(img/kamayan.jpg);
	color: red;
	font-family: Tahoma;
	margin: 0px auto;
	width: 70%;
	background-color: black;
}

h1 {
	font-size: 48px;
}

h2 {
	font-size: 30px;
}

p {
	font-size: 20px;
}

a:link, a:visited {
	color: red;
	text-decoration: none;
}

nav {
	font-size: 20px;
}